//! **************************************************************************
// Written by: Map P.20131013 on Tue May 30 11:20:39 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DATA_IN<6>" LOCATE = SITE "P59" LEVEL 1;
COMP "DATA_IN<7>" LOCATE = SITE "P58" LEVEL 1;
COMP "E_OUT" LOCATE = SITE "P112" LEVEL 1;
COMP "F_OUT" LOCATE = SITE "P111" LEVEL 1;
COMP "DP_OUT" LOCATE = SITE "P114" LEVEL 1;
COMP "G_OUT" LOCATE = SITE "P110" LEVEL 1;
COMP "COMMON_0_OUT" LOCATE = SITE "P120" LEVEL 1;
COMP "A_OUT" LOCATE = SITE "P117" LEVEL 1;
COMP "ENTER_OP1" LOCATE = SITE "P80" LEVEL 1;
COMP "RESE" LOCATE = SITE "P75" LEVEL 1;
COMP "ENTER_OP2" LOCATE = SITE "P79" LEVEL 1;
COMP "COMMON_1_OUT" LOCATE = SITE "P121" LEVEL 1;
COMP "B_OUT" LOCATE = SITE "P116" LEVEL 1;
COMP "COMMON_2_OUT" LOCATE = SITE "P124" LEVEL 1;
COMP "C_OUT" LOCATE = SITE "P115" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P129" LEVEL 1;
COMP "DATA_IN<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "DATA_IN<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "DATA_IN<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "D_OUT" LOCATE = SITE "P113" LEVEL 1;
COMP "DATA_IN<3>" LOCATE = SITE "P64" LEVEL 1;
COMP "OVER_FLOW" LOCATE = SITE "P46" LEVEL 1;
COMP "DATA_IN<4>" LOCATE = SITE "P63" LEVEL 1;
COMP "DATA_IN<5>" LOCATE = SITE "P60" LEVEL 1;
COMP "CALCULATE" LOCATE = SITE "P78" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

